@model MvcGolfScorecardApp.Models.Course

@{
    ViewData["Title"] = "Create a Course";
}

<div class="header-container">

    <a asp-action="Index" class="back-button">&#8592;</a>
    <h1>Create a Course</h1>
</div>
<hr />

<form asp-action="Create">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="CourseName" class="control-label"></label>
    <input asp-for="CourseName" class="form-control" />
    <span asp-validation-for="CourseName" class="text-danger"></span>
</div>

<br />

<input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />


<!-- Holes 1-9 -->
<div class="flex-container-scorecard">
    <div class="items-info hole">Hole #</div>
    <div class="items-scorecard hole">1</div>
    <div class="items-scorecard hole">2</div>
    <div class="items-scorecard hole">3</div>
    <div class="items-scorecard hole">4</div>
    <div class="items-scorecard hole">5</div>
    <div class="items-scorecard hole">6</div>
    <div class="items-scorecard hole">7</div>
    <div class="items-scorecard hole">8</div>
    <div class="items-scorecard hole">9</div>
    <div class="items-scorecard hole">OUT</div>
</div>
<!-- Par for holes 1 - 9  -->
    <div class="flex-container-scorecard">
        <div class="items-info par"> Par </div>
        <div class="items-scorecard" id="holeOne">
            <input asp-for="HoleOne" class="form-control" />
        </div>
        <div class="items-scorecard" id="holeTwo">
            <input asp-for="HoleTwo" class="form-control" />
        </div>
        <div class="items-scorecard" id="holeThree">
            <input asp-for="HoleThree" class="form-control" />
        </div>
        <div class="items-scorecard" id="holeFour">
            <input asp-for="HoleFour" class="form-control" />
        </div>
        <div class="items-scorecard" id="holeFive">
            <input asp-for="HoleFive" class="form-control" />
        </div>
        <div class="items-scorecard" id="holeSix">
            <input asp-for="HoleSix" class="form-control" />
        </div>
        <div class="items-scorecard" id="holeSeven">
            <input asp-for="HoleSeven" class="form-control" />
        </div>
        <div class="items-scorecard" id="holeEight">
            <input asp-for="HoleEight" class="form-control" />
        </div>
        <div class="items-scorecard" id="holeNine">
            <input asp-for="HoleNine" class="form-control" />
        </div>
        <div class="items-scorecard score">Final</div>
    </div>

<br />
<br />
<!-- Holes 10 - 18 -->
<div class="flex-container-scorecard">
    <div class="items-info hole">Hole #</div>
    <div class="items-scorecard hole">10</div>
    <div class="items-scorecard hole">11</div>
    <div class="items-scorecard hole">12</div>
    <div class="items-scorecard hole">13</div>
    <div class="items-scorecard hole">14</div>
    <div class="items-scorecard hole">15</div>
    <div class="items-scorecard hole">16</div>
    <div class="items-scorecard hole">17</div>
    <div class="items-scorecard hole">18</div>
    <div class="items-scorecard hole">IN</div>
</div>

<div class="flex-container-scorecard">
    <div class="items-info par"> Par </div>
    <div class="items-scorecard" id="holeTen">
        <input asp-for="HoleTen" class="form-control" />
    </div>
    <div class="items-scorecard" id="holeEleven">
        <input asp-for="HoleEleven" class="form-control" />
    </div>
    <div class="items-scorecard" id="holeTwelve">
        <input asp-for="HoleTwelve" class="form-control" />
    </div>
    <div class="items-scorecard" id="holeThirteen">
        <input asp-for="HoleThirteen" class="form-control" />
    </div>
    <div class="items-scorecard" id="holeFourteen">
        <input asp-for="HoleFourteen" class="form-control" />
    </div>
    <div class="items-scorecard" id="holeFifteen">
        <input asp-for="HoleFifteen" class="form-control" />
    </div>
    <div class="items-scorecard" id="holeSixteen">
        <input asp-for="HoleSixteen" class="form-control" />
    </div>
    <div class="items-scorecard" id="holeSeventeen">
        <input asp-for="HoleSeventeen" class="form-control" />
    </div>
    <div class="items-scorecard" id="holeEighteen">
        <input asp-for="HoleEighteen" class="form-control" />
    </div>
    <div class="items-scorecard score">Final</div>
</div>

    <span asp-validation-for="HoleOne" class="text-danger"></span>
    <span asp-validation-for="HoleTwo" class="text-danger"></span>
    <span asp-validation-for="HoleThree" class="text-danger"></span>
    <span asp-validation-for="HoleFour" class="text-danger"></span>
    <span asp-validation-for="HoleFive" class="text-danger"></span>
    <span asp-validation-for="HoleSix" class="text-danger"></span>
    <span asp-validation-for="HoleSeven" class="text-danger"></span>
    <span asp-validation-for="HoleEight" class="text-danger"></span>
    <span asp-validation-for="HoleNine" class="text-danger"></span>
    <span asp-validation-for="HoleTen" class="text-danger"></span>
    <span asp-validation-for="HoleEleven" class="text-danger"></span>
    <span asp-validation-for="HoleTwelve" class="text-danger"></span>
    <span asp-validation-for="HoleThirteen" class="text-danger"></span>
    <span asp-validation-for="HoleFourteen" class="text-danger"></span>
    <span asp-validation-for="HoleFifteen" class="text-danger"></span>
    <span asp-validation-for="HoleSixteen" class="text-danger"></span>
    <span asp-validation-for="HoleSeventeen" class="text-danger"></span>
    <span asp-validation-for="HoleEighteen" class="text-danger"></span>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary create crud-button" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
