@model MvcGolfScorecardApp.Models.Scorecard

@{
    ViewData["Title"] = "Edit";
}



<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- Course Name and Information -->
    <div class="form-group">
        <label asp-for="Course" class="control-label"></label>
        <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId">
        <option value="">-- Select Course --</option>
        </select>
        <span asp-validation-for="CourseId" class="text-danger" />
    </div>

    <div class="alignCenter">
        <label asp-for="DatePlayed" class="control-label"></label>
        <input asp-for="DatePlayed" class="form-control" />
    </div>
    <br />

    <!--=-------------------
        Scorecard 
    ----------------------->

    <!-- Holes 1-9 -->
    <div class="flex-container-scorecard">
        <div class="items-info hole">Hole #</div>
        <div class="items-scorecard hole">1</div>
        <div class="items-scorecard hole">2</div>
        <div class="items-scorecard hole">3</div>
        <div class="items-scorecard hole">4</div>
        <div class="items-scorecard hole">5</div>
        <div class="items-scorecard hole">6</div>
        <div class="items-scorecard hole">7</div>
        <div class="items-scorecard hole">8</div>
        <div class="items-scorecard hole">9</div>
        <div class="items-scorecard hole">OUT</div>
    </div>
    
    <!-- What is your score for holes 1 - 9 -->
    <div class="flex-container-scorecard">
        <div class="items-info">Score</div>
        <div class="items-scorecard">
            <input asp-for="HoleOne" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleTwo" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleThree" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleFour" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleFive" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleSix" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleSeven" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleEight" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleNine" class="form-control" />
        </div>
        <div class="items-scorecard">
            TOT
        </div>
    </div>

    <!-- Show Par for holes 1 - 9  -->
    <div class="flex-container-scorecard">
        <div class="items-info par"> Par </div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard par">Final</div>  
    </div> 

    <br />
    <br />

    <!-- Holes 10 - 18 -->
    <div class="flex-container-scorecard">
        <div class="items-info hole">Hole #</div>
        <div class="items-scorecard hole">10</div>
        <div class="items-scorecard hole">11</div>
        <div class="items-scorecard hole">12</div>
        <div class="items-scorecard hole">13</div>
        <div class="items-scorecard hole">14</div>
        <div class="items-scorecard hole">15</div>
        <div class="items-scorecard hole">16</div>
        <div class="items-scorecard hole">17</div>
        <div class="items-scorecard hole">18</div>
        <div class="items-scorecard hole">IN</div>
    </div>
    
    
    <!-- What is your score for holes 10 - 18 -->
    <div class="flex-container-scorecard">
        <div class="items-info">Score</div>
        <div class="items-scorecard">
            <input asp-for="HoleTen" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleEleven" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleTwelve" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleThirteen" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleFourteen" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleFifteen" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleSixteen" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleSeventeen" class="form-control" />
        </div>
        <div class="items-scorecard">
            <input asp-for="HoleEighteen" class="form-control" />
        </div>
        <div class="items-scorecard">
            TOT
        </div>
    </div>
    <div class="flex-container-scorecard">
        <div class="items-info par"> Par </div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard">TBD</div>  
        <div class="items-scorecard par">Final</div>  
    </div> 

    <br />

     <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-primary" />
    </div>

    <span asp-validation-for="HoleOne" class="text-danger"></span>
    <span asp-validation-for="HoleTwo" class="text-danger"></span>
    <span asp-validation-for="HoleThree" class="text-danger"></span>
    <span asp-validation-for="HoleFour" class="text-danger"></span>
    <span asp-validation-for="HoleFive" class="text-danger"></span>
    <span asp-validation-for="HoleSix" class="text-danger"></span>
    <span asp-validation-for="HoleSeven" class="text-danger"></span>
    <span asp-validation-for="HoleEight" class="text-danger"></span>
    <span asp-validation-for="HoleNine" class="text-danger"></span>
    <span asp-validation-for="HoleTen" class="text-danger"></span>
    <span asp-validation-for="HoleEleven" class="text-danger"></span>
    <span asp-validation-for="HoleTwelve" class="text-danger"></span>
    <span asp-validation-for="HoleThirteen" class="text-danger"></span>
    <span asp-validation-for="HoleFourteen" class="text-danger"></span>
    <span asp-validation-for="HoleFifteen" class="text-danger"></span>
    <span asp-validation-for="HoleSixteen" class="text-danger"></span>
    <span asp-validation-for="HoleSeventeen" class="text-danger"></span>
    <span asp-validation-for="HoleEighteen" class="text-danger"></span>

</form>

<!--
<h1>Edit</h1>

<h4>Scorecard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DatePlayed" class="control-label"></label>
                <input asp-for="DatePlayed" class="form-control" />
                <span asp-validation-for="DatePlayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleOne" class="control-label"></label>
                <input asp-for="HoleOne" class="form-control" />
                <span asp-validation-for="HoleOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleTwo" class="control-label"></label>
                <input asp-for="HoleTwo" class="form-control" />
                <span asp-validation-for="HoleTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleThree" class="control-label"></label>
                <input asp-for="HoleThree" class="form-control" />
                <span asp-validation-for="HoleThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleFour" class="control-label"></label>
                <input asp-for="HoleFour" class="form-control" />
                <span asp-validation-for="HoleFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleFive" class="control-label"></label>
                <input asp-for="HoleFive" class="form-control" />
                <span asp-validation-for="HoleFive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleSix" class="control-label"></label>
                <input asp-for="HoleSix" class="form-control" />
                <span asp-validation-for="HoleSix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleSeven" class="control-label"></label>
                <input asp-for="HoleSeven" class="form-control" />
                <span asp-validation-for="HoleSeven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleEight" class="control-label"></label>
                <input asp-for="HoleEight" class="form-control" />
                <span asp-validation-for="HoleEight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleNine" class="control-label"></label>
                <input asp-for="HoleNine" class="form-control" />
                <span asp-validation-for="HoleNine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleTen" class="control-label"></label>
                <input asp-for="HoleTen" class="form-control" />
                <span asp-validation-for="HoleTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleEleven" class="control-label"></label>
                <input asp-for="HoleEleven" class="form-control" />
                <span asp-validation-for="HoleEleven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleTwelve" class="control-label"></label>
                <input asp-for="HoleTwelve" class="form-control" />
                <span asp-validation-for="HoleTwelve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleThirteen" class="control-label"></label>
                <input asp-for="HoleThirteen" class="form-control" />
                <span asp-validation-for="HoleThirteen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleFourteen" class="control-label"></label>
                <input asp-for="HoleFourteen" class="form-control" />
                <span asp-validation-for="HoleFourteen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleFifteen" class="control-label"></label>
                <input asp-for="HoleFifteen" class="form-control" />
                <span asp-validation-for="HoleFifteen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleSixteen" class="control-label"></label>
                <input asp-for="HoleSixteen" class="form-control" />
                <span asp-validation-for="HoleSixteen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleSeventeen" class="control-label"></label>
                <input asp-for="HoleSeventeen" class="form-control" />
                <span asp-validation-for="HoleSeventeen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoleEighteen" class="control-label"></label>
                <input asp-for="HoleEighteen" class="form-control" />
                <span asp-validation-for="HoleEighteen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
-->
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
