@model MvcGolfScorecardApp.Models.AdvancedStats

@{
    ViewData["Title"] = "Advanced Stats";

    ViewBag.HeaderTitle = "Advanced Stats";
    ViewBag.HeaderBackButtonUrl = "Scorecard";
}

<partial name="HeaderWithBackButtonPartial" />


<section class="advancedstats">
    <fieldset>
        <legend>@Html.DisplayNameFor(model => model.TotalNumberOfStrokes)</legend>
        <h3>@Html.DisplayFor(model => model.TotalNumberOfStrokes)</h3>
    </fieldset>

    <fieldset>
        <legend>@Html.DisplayNameFor(model => model.AverageScorePar3)</legend>
        <h3>@Html.DisplayFor(model => model.AverageScorePar3)</h3>
    </fieldset>

    <fieldset>
        <legend>TBD</legend>
        <h3>0</h3>
    </fieldset>

    <fieldset>
        <legend>TBD</legend>
        <h3>0</h3>
    </fieldset>

    <fieldset>
        <legend>TBD</legend>
        <h3>0</h3>
    </fieldset>

    <fieldset>
        <legend>TBD</legend>
        <h3>0</h3>
    </fieldset>
</section

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
