@{
    ViewData["Title"] = "Home Page";
}
<div class='about-container'>
    <div class="image-container">
        <div class="centered-text">
            <h1>Track your golf stats and better your game </h1>
            <a class="signup-button" href="AccountSettings/signup.php">Sign Up</a>
            </div>    
    </div>
</div>

<div class='about-container'>
    <div class='item'>
        <div class="center">
            <h2> Save your scorecards </h2>
        </div>
    </div>
    <div class='imag'>
        <img src="~/images/scorecard.jpg">
    </div>
</div>


<div class='about-container'>
    <div class='imag'>
        <img src="~/images/ListofGames.jpg">
    </div>
    <div class='item'>
        <div class="center">
            <h2>See a list of games you have played</h2>
        </div>
    </div>
</div>

<div style="text-align:center;">
    <a class="signup-button" href="AccountSettings/signup.php">Sign Up</a>
</div>
